{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Change password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.pn'%}" />
    <link rel="manifest" href="{% static 'manifest.webmanifest'%}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/change_password.css'%}" />
  </head>
  <body>
      <img
        class="logo"
        alt="Omnifood logo"
        src="{% static 'img/omnifood-logo.png'%}"
      />
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  </body>
</html>
