{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.pn'%}" />
    <link rel="manifest" href="{% static 'manifest.webmanifest'%}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
  </head>
  <body>
    <header>
      <img
        class="logo"
        alt="Omnifood logo"
        src="{% static 'img/omnifood-logo.png'%}"
      />
    </header>

    <form method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
      <input type="submit" value="Login" />
      <p>
        Don't have an account? <a href="{% url 'register' %}">Sign up</a> now!
      </p>
    </form>
  </body>
</html>
